@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-white font-dm_serif bg-right bg-custom-image bg-cover bg-no-repeat flex h-[100vh] w-full items-center justify-center text-center;
}

h1 {
  @apply text-[3.2rem] text-white leading-[5.5rem];
}

p {
  @apply text-white text-5xl;
}

span {
  @apply block text-[5rem];
}

.container {
  @apply p-[1.5rem];
}

.container::after {
  @apply absolute block content-[''] w-full h-full top-0 left-0 z-[-1] bg-custom-rgba;
}
